{% extends 'base.html'%}

{% block title %} Reset Password {% endblock title%}

{%block header%} {% include 'header.html'%} {%endblock header%}



{%block content%}

{% comment %} Reset password {% endcomment %}

<div class = 'container'>
    <div class = "row justify-content-center m-5">
        <div class="col-10 col-sm-8 bg-warning py-4 px-5 text-white ">
            <h2 class ="mt-3 bg-secondary text-center py-3 px-5">Reset Password</h2>
            <hr>
            <p>Forgotten your password? Enter your email address below, to reset your password</p>
            <form class="bg-warning" method ="POST">
                {% csrf_token %}
                {{password_reset_form}}
                <button class="btn btn-secondary text-white my-3" type = "submit">Reset Password</button>
            </form>



        </div>

    </div>

</div>

{%endblock content%}


  <!--- footer -->
  {%block footer%}{% include 'footer.html' %}{%endblock footer%}

<!--- footer done -->