{% extends 'base.html' %}

{%block title%} All Meals {%endblock title%} 


  <!-- header -->
  {%block header%}{% include 'header.html' %}{%endblock header %}

   <!-- header end -->

     <!-- showcase -->
     {%block showcase %} {% include 'showcase.html' %}{% endblock showcase%}
     <!-- showcase end -->

{% block content %}
<section class="meals">
    <div class="container">
      <h2 class="text-center mt-5 mb-5"><i class="fa-solid fa-bowl-food"></i> Meals</h2>
    </div>
  
    <div class="container">
      <div class="row justify-content-center gy-5 gx-4">
        {% if all_meals %}
        {% for item in all_meals %} 
        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-4">
          <div class="card">
            <a href="{% url 'detail' item.id%}"><img src="{{item.image.url}}" class="card-img-top"></a>
            <div class="card-body text-center">
              <h3 class="card-title">{{item.name}}</h3>
              <p class="card-text text-truncate">{{item.description}}</p>
              
              <form action="{% url 'addtocart' %}" method="POST"> 
                {% csrf_token %}
                <input type="hidden" name="mealid" value="{{item.id}}">
                <input type="hidden" name="mealquantity" value="1" min="{{item.min}}" max="{{item.max}}">
                <button class="btn btn-secondary"><i class="fa-solid fa-cart-arrow-down"></i> </button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %} 
        {% endif %}  
      </div>
    </div>
  </section>
</div>
  </section>

{% endblock content  %}


  <!--- footer -->
  {%block footer%}{% include 'footer.html' %}{%endblock footer%}

<!--- footer done -->
