{% extends 'base.html' %}



{%block title%} Category {%endblock title%} 


  <!-- header -->
  {%block header%}{% include 'header.html' %}{%endblock header %}

   <!-- header end -->

     <!-- showcase -->
     {%block showcase %} {% include 'showcase.html' %}{% endblock showcase%}
     <!-- showcase end -->
{% block content  %}

<section class="meals">
    <div class="container">
      <h2 class="text-center mt-5 mb-5"><i class="fa-solid fa-bowl-food"></i> Category</h2>
    </div>

    <div class="container">
      <div class="row justify-content-center gy-5 gx-4">
        {% if categories %}
          {% for m in categories %}
            <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-4">
              <div class="card">
                <a href="{%url 'single_category' m.id%}"><img src="{{m.cat_image.url}}" class="card-img-top"></a>
                <div class="card-body text-center">
                  <h3 class="card-title">{{m.cat_name}}</h3>
                </div>
              </div>
            </div>
          {% endfor %} 
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}


{%block footer%}{% include 'footer.html' %}{%endblock footer %}