{% extends 'base.html' %}
{% load humanize %}

{%block title%} {{profile.user.username|title}}'s Shopcart {%endblock title%} 


  <!-- header -->
  {%block header%}{% include 'header.html' %}{%endblock header %}

   <!-- header end -->

     <!-- showcase -->
     {%block showcase %} {% include 'showcase.html' %}{% endblock showcase%}
     <!-- showcase end -->

     
         <!-- special offers -->
         {%block specials %} {% include 'specials.html' %}{% endblock specials %}
         <!-- special offers end -->

{% block content %}
    <!-- cart start -->
    <div class="row">
      <div class="col-lg-6 col-sm-12">
            <section class="mt-5">
              <div class="container cart">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead bg-dark">
                      <tr>
                        <th scope="col" class="text-white">Product</th>
                        <th scope="col" class="text-white">Price</th>
                        <th scope="col" class="text-white">Quantity</th>
                        <th scope="col" class="text-white">Total</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% if shopcart %}
                      {% for item in shopcart %}
                      <tr>
                        <td>
                          <div class="main">
                            <div class="d-flex">
                              <img src="{{item.dish.image.url}}" alt="">
                            </div>
                            <div class="des">
                              <p>{{item.c_name}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <h6>₦{{item.c_price|floatformat:2|intcomma}}</h6>
                        </td>
                        <td class=text-center>
                          {{item.quantity}}
                            
                          
                        </td>
                        <td>
                          <h5>₦{{item.amount|floatformat:2|intcomma}}</h5>
                        </td>
                      </tr>
                      {% endfor %} 
                      {% endif %}  
                      <!--  -->
                                <!--  -->
                    </tbody>
                  </table>
                </div>
              </div>
            
                <div class="col-lg-4 offset-lg-4">
                  <div class="checkout">
                    <ul>

                      <li class="cart-total">Total
                        <span>₦{{total|floatformat:2|intcomma}}</span>
                      </li>
                    </ul>
                </div>
              </div>
        </section>
     </div>

        <div class="col-lg-6 col-sm-12 check">
          <div class="container wrapper">
            <h2>Checkout Form</h2>
            <form class="payment" action="{% url 'payment'%}" method="POST">
              {%csrf_token%}
              <h4>Adress info</h4>
              <div class="input_group">
                <div class="input_box">
                  <input type="text" name ="first_name"placeholder="...,,First Name" required class="name ps-5" value={{profile.first_name}}>
                  <i class="fa fa-user icon"></i>
                </div>
                <div class="input_box">
                  <input type="text" name ="last_name" placeholder=".....Surname Name" required class="name ps-5" value={{profile.last_name}}>
                  <i class="fa fa-user icon"></i>
                </div>
                <div class="input_box">
                  <input type="text" name ="phone" placeholder=".....Surname Name" required class="name ps-5" value={{profile.last_name}}>
                  <i class="fa fa-user icon"></i>
                </div>
              </div>
              <div class="input_group">
                <div class="input_box">
                  <input type="email"  name ="email" placeholder=".....Email Address" required class="name ps-5" value={{profile.email}}>
                  <i class="fa-solid fa-envelope icon"></i>
                </div>
              </div>
              <div class="input_group">
                <div class="input_box">
                  <input type="Address" name ="address" placeholder="......Address" class="name ps-5" required value={{profile.address}}>
                  <i class="fa fa-map-marker icon" aria-hidden="true"></i>
                </div>
              </div>
              <div class="input_group">
                <div class="input_box">
                  <input type="Address" name ="city" placeholder=".....City" required class="name ps-5" value={{profile.city}}>
                  <i class="fa fa-institution icon"></i>
                  <input type="text" name = "total" value = {{total}}>
                </div>
              </div>
              <!-- DOB info -->

              <div class="input_group">
                <div class="input_box">
                  <h4>Gender</h4>
                  <input type="radio" name="gender" required id="b1" class="radio" checked>
                  <label for="b1">Male</label>
                  <input type="radio" name="gender" required id="b2" class="radio" checked>
                  <label for="b2">female</label>
                </div>
              </div>

              <!-- DOB info end -->

              <div class="input_group">
                <div class="input_box">
                  <h4>Payment Option</h4>
                  <input type="radio" name="pay" class="radio" id="bc1" checked>
                  <label for="bc1"><span>
                    <i class="fa-brands fa-cc-visa"></i>Credit Card</span></label>
                  <input type="radio" name="pay" class="radio" id="bc2" checked>
                  <label for="bc2"><span>
                    <i class="fa-brands fa-cc-paypal"></i></i>Paypal</span></label>
                </div>
              </div>

              <div class="input_group">
                <div class="input_box">
                  <button type="submit">Pay</button>
                </div>
              </div>
            </form>
          </div>
        </div>


</div>
  <!-- cart end -->


{% endblock content  %}


  <!--- footer -->
  {%block footer%}{% include 'footer.html' %}{%endblock footer%}

<!--- footer done -->
