
<div class="container-fluid footer ">
    <div class="row footer1">
      <div class="col-5 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h4>ReFill Team</h4>
        <h5>Lorem, ipsum dolor.</h5>
        <h5>Lorem, ipsum dolor.</h5>
      </div>
      <div class="col-5 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h4>contact us</h4>
        <ul class="list-unstyled">
          <li><span><i class="fa-solid fa-phone"></i></span>+234 800 000 000</li>
          <li><span><i class="fa-solid fa-phone"></i></span>+234-000-000-000</li>
        </ul>
      </div>
      <div class="col-5 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h4>Useful links</h4>
        <ul class="list-unstyled">
          <li><a href="#">home</a></li>
          <li><a href="#">products</a></li>
          <li><a href="#">gallery</a></li>
          <li><a href="#">contacts</a></li>
        </ul>
      </div>
      <div class="col-5 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h4>Our Handles</h4>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="text-center py-4 footer2">
      <h5>copyright &copy;2022 | All rights reserved.</h5> 
      <h6><a href="#">crafted by: TechBros</a></h6>
    </div>
  </div>
