{% extends 'base.html' %}

{%block title%} {{profile_data.user.username}} {%endblock title%} 


  <!-- header -->
  {%block header%}{% include 'header.html' %}{%endblock header %}

   <!-- header end -->
  

   {% block content  %}
   
  
           
            <section class="bigger">
                <div class="row text-center">
                  {% include 'dash_sidebar.html' %}
                    
        
                    <div class="col-5 col-sm-6 col-md-3 col-lg-2 col-xl-8 base">
                        <div class="basic">
                            <div class="basicheader">
                                <h2>Profile Update</h2>
                            </div>
                            <div class="profileicon cas">
                                <!-- <i class="fa-solid fa-user"></i> -->
                                <img src="{{profile_data.profile_pix.url}}" alt="">
                            </div>
                            <div class="info">
                                <div class="form1">
                                    <div class="address">
                                        <form class="ade " action = "{% url 'profile_update' %}" method = "POST"  enctype = "multipart/form-data">
                                            {%csrf_token%}
                                            <div class ="form-group">
                                                    {{form}}
                                            </div>
                                            <button type= "submit" class="btn btn-secondary text-white">Update</button>
                                            <!-- <div class="sub1">
                                                <input type="submit">
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                 
                            </div>
                        </div>
                    </div>
                    
                  </div>
            </section>
        
    {% endblock content %}


{%block footer%}{% include 'footer.html' %}{%endblock footer %}
  