{% extends 'base.html' %}

{%block title%} Signin {%endblock title%} 


  <!-- header -->
  {%block header%}{% include 'header.html' %}{%endblock header %}

   <!-- header end -->
  

   {% block content  %}
    <div class="container chicken">
        <div class="turkey">
            <form class="form2" action= "{% url 'signin' %}" method = "POST">
                {% csrf_token %}
                <h3>Sign in</h3>
                <div class="form-div">
                    <label for="fname">User Name</label>
                    <input type="text" class="fname" name = "username" placeholder="Name or email" id="fname" itemid="fname" >
                </div>
                <div class="form-div">
                    <label for="password">Password</label>
                    <input type="password" class="inputag" name = "password" placeholder="Password" id="password" itemid="password" >
                    <div class="hide">
                        <i class="fa-solid fa-eye-slash"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>
                <div class="submit">
                    <!-- <input type="submit" value="Sign in"> -->
                    <button type="submit" class=" btn btn-secondary  mt-3" >Signin</button>
                </div>
            </form>
            <a class= "btn btn-warning text-white my-3" href="{% url 'password_reset'%}">Forgot Password</a>
        </div>
    </div>

    {% endblock content %}

    {%block footer%}{% include 'footer.html' %}{%endblock footer %}