
<section class="offers">
  <div class="container">
    <h2 class="text-center mt-5 mb-5"><i class="fa-solid fa-gift"></i> Special Offers</h2>
  </div>

  <div class="container offer mb-5" data-aos="fade-up">
    <div class="row justify-content-center gy-5 gx-4">
      {% if specials %}
        {% for n in specials %}
          
          <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            <div class="card">
              <img src="{{n.image.url}}" class="card-img-top">
            </div>
          </div>
       {% endfor %} 
      {% endif %}
      
      {% comment %} <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div class="card">
          <img src="images/burger.png" class="card-img-top">
        </div>
      </div>
      
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div class="card">
          <img src="images/RIBENA.jpg.png" class="card-img-top">
        </div>
      </div>
      
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div class="card">
          <img src="images/jollof.jpg" class="card-img-top">
        </div>
      </div>
      
      <div class="col-10 col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div class="card">
          <img src="images/chineserice.jpg" class="card-img-top">
        </div>
      </div>
      
      <div class="col-10 col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div class="card">
          <img src="images/spag.jpg" class="card-img-top">
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</section>